<!-- Header -->
<header class="masthead" id="masthed">
  <div class="container-fluid">
  		<div class="masthead-holder">
  			<div class="masthead_left-col">
  				<figure>
  					<img [src]="flagImg.src" [alt]="flagImg.alt">
  				</figure>	
  			</div>
  			<div class="masthead_right-col">
  				<h1 class="main-title">
  					сеть экочисток <br>
  					нового поколения
  				</h1>
  				<figure class="wave">
  					<img [src]="">
  				</figure>
  				<h2 class="main=subtitle">
  					Дарим подарки к нашему открытию
  				</h2>
  			</div>	
  		</div>
  </div>
</header>