<!-- Header -->
<header class="masthead" id="masthed">
  <div class="container-fluid">
  		<figure class="main-logo-white">
			<img [src]="mainLogoWhite.src" [alt]='mainLogoWhite.alt'>
		</figure>
		<figure class="round-title">
			<img [src]="roundTitle.src" [alt]="roundTitle.alt">
		</figure>
		<figure class="main-logo-white">
			<img [src]="mainLogoWhite.src" [alt]='mainLogoWhite.alt'>
		</figure>
  		<div class="masthead-holder">
  			<div class="masthead_left-col">
  				<figure>
  					<img [src]="flagSvg.src" [alt]="flagSvg.alt">
  				</figure>	
  			</div>
  			<div class="masthead_right-col">
  				<div class="right-col_title-holder">
	  				<h1 class="main-title">
	  					cеть экочисток <br>
	  					нового поколения
	  				</h1>
	  				<figure class="wave">
	  					<img [src]="waveSvg.src" [alt]="waveSvg.alt">
	  				</figure>
	  				<h2 class="main-subtitle">
	  					Чистка​ первой​ ​вещи​ ​бесплатно!
	  				</h2>
  				</div>
  			</div>	
  		</div>
  </div>
</header>