<section class="legal-text-block">
	<div class="container">
		<div class="social-icons">
			<figure class="icons_fb">
				<a href="https://www.facebook.com/vesch.ua/" target="_blank" rel="noreferrer">
					<img src="../assets/svg/fb.svg" alt="facebook icon">	
				</a>
			</figure>
			<figure class="icons_inst">
				<a href="https://www.instagram.com/vesch.ua/" target="_blank" rel="noreferrer">
					<img src="../assets/svg/inst.svg" alt="instagram icon">
				</a>
			</figure>
		</div>
		<div class="legal-text">
			<p>
				{{ footerLegal | translate }}
			</p>
		</div>
	</div>
</section>