<section id="service">
  <div class="container">
    <h2 class="text-center"> {{ service_main_title | translate }}</h2>
    <div class="row">
      <div *ngFor="let service of services_info; let i = index" 
           (mouseenter)='hoverAnimation(i)'
           (mouseleave)='hoverAnimation(i)'
           class="col-sm-12 col-md-6 col-lg-4 service-item">
        <div class="service-link" [attr.href]='service.id' data-toggle="modal">
          <div class="img-overlay" [@hoverImgOverlay]="service.state"></div>
          <figure class="img-text_wave" [@hoverWave]="service.state">
            <img [src]="wave">
          </figure>
          <div class="img-text">
            <p [@hoverImgText]="service.state">
              {{ service.img_text | translate }}
            </p>
          </div>
          <img class="img-fluid" [src]="service.img" alt="">
        </div>
      </div>
    </div>
  </div>
</section>