@import "../sass/variables";

section.promo
	padding-top: 170px

	.container-fluid
		padding: 0 50px
		

		.promo__info-title
			margin-bottom: 170px
			text-align: center
			
			p
				font-family: $Arkhip
				font-size: 48px
				color: $main-dark-blue

		.promo__info
			margin-bottom: 150px		

			.info-block
				position: relative
				display: flex
				justify-content: center

				.info_number
					position: absolute
					z-index: 1
					top: -115px
					left: 15%

					p
						font-size: 200px
						color: $main-green
						font-family: $Arkhip

				.title-term_holder
					margin-left: 42px

					.info_title	
						position: relative
						z-index: 2	
						line-height: 29px


						p
							font-family: $Arkhip
							font-size: 30px
							color: $main-dark-blue


					.info_term
						position: relative
						z-index: 2		

						p
							font-family: $Reg
							width: 315px

	.promo_service-wrap
		padding: 0
		height: 398px
		display: flex;
		flex-direction: column;
		justify-content: center;

		&.emailSendBg
			background-color: $main-green

		.promo_final-result
			text-align: center

			p	
				font-size: 30px
				color: $main-dark-blue
				font-family: $Arkhip

		.promo_service-holder

			.promo_service-title
				text-align: center

				p
					font-family: $Arkhip
					font-size: 30px

			.sms-send-respond
				text-align: center

				p
					font-family: $Arkhip
					font-size: 30px

				span
					font-family: $Reg
					font-size: 20px
					display: block
					margin-top: -25px
					

			.input-holder
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column

				.sms-input
					display: block
					border: none
					border-bottom: 2px solid $main-dark-blue
					width: 45%
					margin-top: 20px
					margin-bottom: 45px
					outline: none
					text-align: center
					font-family: $Arkhip
					font-size: 25px
					color: $main-dark-blue


					&::-webkit-input-placeholder
						font-family: $Arkhip
						font-size: 30px
						opacity: 0.2
						text-align: center

					&:-moz-placeholder
						font-family: $Arkhip
						font-size: 30px
						opacity: 0.2
						text-align: center

				.send-sms-btn
					width: 10%
					min-width: 350px
					background-color: $main-green
					border: none
					height: 50px
					border-radius: 50px
					font-family: $Reg
					letter-spacing: 2px
					font-weight: 100

					&:focus
						box-shadow: 0 0 0 2px rgba(46,56,70,.8)












