<section class="promo" id="promo">
	<div class="container-fluid">
		<div class="promo__info-title">
			<p>
				Попробуй инновационные эко технологии первым
			</p>
		</div>
		<div class="promo__text">
			<p>
				Добро пожаловать на сайт VESCH – сети экочисток нового поколения. Совсем скоро мы запустим первую эко-фабрику по чистке одежды в Одессе. Только у посетителей нашего сайта есть уникальная возможность почистить первую вещь абсолютно бесплатно. Заказать экочистку проще простого:
			</p> 
		</div>
		<div class="promo__info">
			<div class="row">
				<div *ngFor="let block of info_blocks" class="info-block col-lg-4">
					<div class="info_number">
						<p>{{block.number}}</p>
					</div>
					<div class="title-term_holder">
						<div class="info_title">
							<p [innerHTML]="block.title"></p>
						</div>
						<div class="info_term">
							<p [innerHTML]="block.term"></p>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid promo_service-wrap" [ngClass]="{'emailSendBg': smsSendResponse}">
		<div class="promo_final-result" *ngIf="emailSendResponse">
			<p>
				Спасибо,​ ​промокод​ ​уже​ ​летит​ ​к​ ​вам! <br> 
				Скорее​ ​обновите​ ​почту​ ​или​ ​проверьте входящие​ ​SMS!
			</p>
		</div>	
		<div class="promo_service-holder" *ngIf="!emailSendResponse">
			<div class="promo_service-title" 
			     [@hideElement]="state" 
			     *ngIf="animationDoneResult">
				<p>
					Введи номер телефона и получи промо код в SMS
				</p>
			</div>
			<div *ngIf="smsSendResponse" class="sms-send-respond">
				<p>
					Мы отправили промокод {{promoCode}} на Ваш мобильный.
				</p>
				<span>
					Хотите продублировать его на электронную почту?
				</span>
			</div>
			<form [formGroup]="smsSendGroup"
				  [@hideElement]="state"
			      (ngSubmit)="onSubmit(inputPhone.value)"
			      *ngIf="animationDoneResult">
				<div class="input-holder">	
					<input  #inputPhone
							[(ngModel)]="inputValue"
							formControlName="inputPhone" 
							(focus)="inputFocus()"
							type="text" 
							name="inputPhone" 
							placeholder="+38(___) ___ __ __" 
							[textMask]="{mask: mask}"
							pattern="\+\d\d \([0]\d{2}\) \d{3}-\d{4}" 
							class="sms-input" required>
					<button class="send-sms-btn btn btn-success" 
							[ngClass]="{'error': phoneNumberErrorStatus}"
							[disabled]="!smsSendGroup.valid">
							<p class="btn-no-error" 
							   *ngIf='!phoneNumberErrorStatus'>
							   Получить код
							</p>
							<p class="btn-error" 
							   *ngIf='phoneNumberErrorStatus'>
							   На номер уже отправлялось SMS
							</p>
					</button>
				</div>
			</form>

			<!-- share promo code from sms-component to email-component -->
			<app-email-send *ngIf='smsSendResponse' 
							[promoCode]="promoCode"
							(emailSendResponseEvent)="receiveEmailSendStatus($event)">			
			</app-email-send>
		</div>

	</div>
</section>