<section id="map">
	<div class="map-holder">
		<agm-map [latitude]="lat" 
				 [longitude]="lng" 
				 class="google-map" 
				 [scrollwheel]="false"
				 [zoom]="zoom">
		  <agm-marker *ngFor="let m of markers; let i = index"
				      [latitude]="m.lat"
				      [longitude]="m.lng"
				      [label]="m.label"
				      [markerDraggable]="m.draggable"
				      (dragEnd)="markerDragEnd(m, $event)">
		  </agm-marker>
		</agm-map>
	</div>
	<div class="address-holder">
		<div class="temporary-title">
			<p>
				Совсем скоро​ ​VESCH​ ​ по​ ​ адресу:
			</p>
		</div>	
		<div class="address-list">
			<p *ngFor='let address of addresses' 
			   [innerHTML]="address.title"></p>
		</div>
	</div>
</section>