<!-- Header -->
<header class="banner" id="masthed">
  <div class="container-fluid">
		<figure class="round-title">
			<img [src]="roundTitle.src | translate" [alt]="roundTitle.alt">
		</figure>
		<figure class="main-logo-white">
			<img [src]="mainLogoWhite.src" [alt]='mainLogoWhite.alt'>
		</figure>
  		<div class="banner-holder">
  			<div class="banner_left-col">
  				<figure>
  					<img [src]="flagSvg.src" [alt]="flagSvg.alt">
  				</figure>	
  			</div>
  			<div class="banner_right-col">
  				<div class="right-col_title-holder">
					<!-- <div class="call-container" (click)="phoneBtnClick()">
						<div class="back-circle"></div>
						<div class="button"></div>
						<div class="front-circle"></div>
						<i class="fa fa-phone phone"></i>
					</div> -->
	  				<h1 class="main-title" [innerHTML]=" 'banner.title_0' | translate "></h1>
	  				<figure class="wave">
	  					<img [src]="waveSvg.src" [alt]="waveSvg.alt">
	  				</figure>
	  				<h2 class="main-subtitle" [innerHTML]=" 'banner.title_1' | translate ">
	  				</h2>
  				</div>
  			</div>	
  		</div>
  </div>
</header>