@import "../sass/variables";

section.technology
	background-color: $main-dark-blue
	padding-top: 0

	.technology_main-logo-holder
		display: flex
		justify-content: center
		align-items: center

		.technology_main-logo
			margin-top: -45px

			img
				width: 570px

	.title-holder			
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		text-align: center
		margin-bottom: 50px

		.section-title
			margin: 40px 0

			p
				font-family: $Arkhip
				font-size: 48px
				color: white

		.section-subtitle
			width: 80%

			p
				font-family: $Reg
				font-size: 30px
				color: white	

	.technology-holder

		.technology-col
			padding-left: 7%
			position: relative
			padding-top: 250px

			.technology_img
				position: absolute
				z-index: 1
				top: 0
				margin-bottom: -35px

				img
					max-width: 100%
					height: auto


			.technology_icon
				height: 150px
				width: 150px
				display: flex
				justify-content: center
				align-items: flex-end
				z-index: 2
				margin-left: -15%
				position: relative

				img
					height: 142px

			.technology_description-holder

				.technology_description-title

					p
						font-family: $Arkhip
						font-size: 30px
						color: white
						height: 140px
						position: relative
						z-index: 3

				.technology_description-text

					p
						font-family: $Reg
						font-size: 20px
						color: white