<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <a class="navbar-brand" href="#page-top" pageScroll>
    <img src="./assets/svg/vesch_half.svg" alt="vesch main logo" class='main-logo'>
  </a>
  <div class="phone-number_holder">
    <div class="desktop-number">
      <span *ngFor="let phone of mobilePhones;">
        {{ phone.number }}
      </span>
    </div>
    <div class="mobile-number">
      <span *ngFor="let phone of mobilePhones; let i = index;" (click)="makeCall(i)">
        {{ phone.number }}
      </span>
    </div>  
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" #navbarToggler>
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#masthed" (click)="collapseNav()" pageScroll>{{ 'nav.title_0' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#promo" (click)="collapseNav()" pageScroll>{{ 'nav.title_1' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#technology" (click)="collapseNav()" pageScroll>{{ 'nav.title_2' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#service" (click)="collapseNav()" pageScroll>{{ 'nav.title_3' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#map" (click)="collapseNav()" pageScroll>{{ 'nav.title_4' | translate }}</a>
      </li>
      <li class="nav-item">
        <div class="lenguage-change__holder">
          <div class='lenguage' 
               [ngClass]="{ 'active': lenguage.classActive }" 
               (click)="addActive(i); changeLang(lenguage.title); collapseNav()" 
               *ngFor="let lenguage of lenguages; let i = index;">
            <p>
              {{ lenguage.title }}
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>